<div class="alert alert-success">
    <h1>Assignment 1</h1>
    <h3>All interesting Python List function</h3>
</div>

In [6]:
# List 'append',
list1 = [1, 2, 3, 4, 5]
list1.append(6)
print(list1)
# List in list 'append',
list1 = [1, 2, 3, 4, 5]
list2 = [7, 8, 9]
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, [7, 8, 9]]

In [7]:
# List 'copy',
list1 = [1, 2, 3, 4, 5]
list2 = list1.copy()
print(list2)

[1, 2, 3, 4, 5]

In [12]:
# List 'insert',
list1 = [1, 2, 3, 4, 5]
list1.insert(0, 0)
print(list1)

[0, 1, 2, 3, 4, 5]

In [16]:
# List 'extend',
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9]
list2.extend(list1)
print(list2)

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [2]:
# List 'pop',
list1 = [1, 2, 3, 4, 5]
list1.pop() # Last Element was removes and returns the element
print(list1)


# pop(Index)
list1 = [1, 2, 3, 4, 5]
list1.pop(0) 
print(list1)

[1, 2, 3, 4]
[2, 3, 4, 5]

In [3]:
list1.pop(1) # return

3

In [5]:
# List 'remove',
list1 = [1, 2, 3, 4, 5]
list1.remove(5) # Value Of that Num remove from the List
print(list1)

[1, 2, 3, 4]

In [6]:
list1.remove(1)

In [2]:
# List 'index',
list1 = [1, 2, 3, 4, 5]
index = list1.index(2) # getting value with index
print(index)

1

In [7]:
# List 'count',
list1 = [1, 2, 3, 4, 5, 2]
num_count = list1.count(2)
print(num_count)

2

In [ ]:
# List 'reverse',
list1 = [1, 2, 3, 4, 5]
list1.reverse()
print(list1)

# List sort()'reverse',
list1 = [2, 5, 4, 4, 6, 3]
list2 = sorted(list1,reverse = False) # Assending
list3 = sorted(list1,reverse = True)  # Desending
print(list2)
print(list3)

[5, 4, 3, 2, 1]
[2, 3, 4, 4, 5, 6]
[6, 5, 4, 4, 3, 2]

In [48]:
# List 'sort()',
list1 = [1, 6, 3, 2, 5]
list1.sort()
print(list1)

[1, 2, 3, 5, 6]

In [49]:
# List 'clear',
list1 = [1, 6, 3, 2, 5]
list1.clear()
print(list1)

[]

In [45]:
# List __len__
list1 = [1, 6, 3, 2, 5]
list1.__len__()

5

In [46]:
# List __str__
list1 = [1, 6, 3, 2, 5]
list1.__str__()

'[1, 6, 3, 2, 5]'

In [47]:
# List __repr__
list1 = [1, 6, 3, 2, 5]
list1.__repr__()

'[1, 6, 3, 2, 5]'

In [51]:
# List __eq__
list1 = [1, 6, 3, 2, 5]
list2 = [1, 6, 3, 2, 5, 6]
list1.__eq__(list2)

False

In [52]:
# List __sizeof__
list1 = [1, 6, 3, 2, 5]
list1.__sizeof__()

104

<div class="alert alert-success">
    <h1>Assignment 2</h1>
    <h3>All interesting Python Dict function</h3>
</div>

In [56]:
# Create a Dict
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
print(dict1)

# Dict 'update',
dict1 = {"Name": "Sai mekala", "Age": 30,"Sex": "Male"}
dict2 = {"Address": "Nalgonda"}
dict1.update(dict2)
print(dict1)

{'Name': 'Sai mekala', 'Age': 30, 'Address': 'Nalgonda'}
{'Name': 'Sai mekala', 'Age': 30, 'Address': 'Nalgonda', 'Sex': 'Male'}

In [58]:
# Dict 'copy',
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict2 = dict1.copy()
print(dict2)

{'Name': 'Sai mekala', 'Age': 30, 'Sex': 'Male'}

In [62]:
# Dict 'keys',
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
print(dict1.keys())

dict_keys(['Name', 'Age', 'Sex'])

In [63]:
# Dict 'values',
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
print(dict1.values())

dict_values(['Sai mekala', 30, 'Male'])

In [64]:
# Dict 'items',
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
print(dict1.items())

dict_items([('Name', 'Sai mekala'), ('Age', 30), ('Sex', 'Male')])

In [9]:
# Dict 'pop',
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict1.pop('Name')
print(dict1)

{'Age': 30, 'Sex': 'Male'}

In [78]:
# Dict __eq__,
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict2 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}

dict1.__eq__(dict2)

True

In [79]:
# Dict __len__,
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict1.__len__()

3

In [41]:
# Dict __str__,
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict1.__str__()

"{'Name': 'Sai mekala', 'Age': 30, 'Sex': 'Male'}"

In [42]:
# Dict __sizeof__,
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict1.__sizeof__()

216

In [44]:
# Dict __repr__,
dict1 = {"Name": "Sai mekala", "Age": 30, "Sex": "Male"}
dict1.__repr__()

"{'Name': 'Sai mekala', 'Age': 30, 'Sex': 'Male'}"

<div class="alert alert-success">
    <h1>Assignment 3</h1>
    <h3>All interesting Python Tuple function</h3>
</div>

In [7]:
# Tuple
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)

# Tuple 'index',
tuple1 = (1, 2, 3, 4, 5)
index = tuple1.index(3)
print(index)

(1, 2, 3, 4, 5)
2

In [11]:
# Tuple 'count',
tuple1 = (1, 2, 3, 4, 5, 2, 2, 2)
count = tuple1.count(2)
print(count)

4

In [54]:
# Tuple __len__
tuple1 = (1, 2, 3, 4, 5, 2, 2, 2)
tuple1.__len__()

8

In [55]:
# Tuple __str__
tuple1 = (1, 2, 3, 4, 5, 2, 2, 2)
tuple1.__str__()

'(1, 2, 3, 4, 5, 2, 2, 2)'

In [11]:
# Tuple __eq__
tuple1 = (1, 2, 3, 4, 5, 2, 2, 2)
tuple2 = (1, 2, 3, 4, 5, 2, 2, 2, 9)
tuple1.__eq__(tuple2)

False

In [14]:
# Tuple __le__
tuple1 = (1, 2, 3, 4, 5, 2, 2, 2)
tuple2 = (1, 2, 3, 4, 5, 2, 3, 2)
tuple1.__le__(tuple2)

True

In [19]:
?tuple1.__le__

Signature:      tuple1.__le__(value, /)
Call signature: tuple1.__le__(*args, **kwargs)
Type:           method-wrapper
String form:    <method-wrapper '__le__' of tuple object at 0x0000020360243F20>
Docstring:      Return self<=value.

In [59]:
# Tuple __sizeof__
tuple1 = (1, 2, 3, 4, 5, 2, 2, 2)
tuple1.__sizeof__()

88

<div class="alert alert-success">
    <h1>Assignment 4</h1>
    <h3>All interesting Python set function</h3>
</div>

In [14]:
# Set Creat
set1 = {1, 2, 3, 4, 5}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [19]:
# Set 'add',
set1 = {1, 2, 3, 4, 5}
set1.add(6) 
print(set1)

{1, 2, 3, 4, 5, 6}

In [20]:
# Set 'copy',
set1 = {1, 2, 3, 4, 5}
set2 = set1.copy()
print(set2)

{1, 2, 3, 4, 5}

In [5]:
# Set  'pop',
set1 = {1, 2, 3, 4, 5}
set1.pop()
print(set1)

{2, 3, 4, 5}

In [7]:
# Set  'discard',
set1 = {1, 2, 3, 4, 5}
set1.discard(3)
print(set1)

{1, 2, 4, 5}

In [8]:
# Set  'clear',
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [12]:
# Set 'intersection',
set1 = {1, 2, 3, 4, 5}
set2 = {0, 2, 4, 3, 5}
inter_sec = set1.intersection(set2)
print(inter_sec)
inter_sec = set1 & set2      # symbal
print(inter_sec)

{2, 3, 4, 5}
{2, 3, 4, 5}

In [13]:
# Set  'difference',
set1 = {1, 2, 3, 4, 5}
set2 = {0, 2, 4, 3, 5}
diff = set1.difference(set2)
print(diff)
diff = set1 - set2   # symbal
print(diff)

{1}
{1}

In [14]:
# Set  'union',
set1 = {1, 2, 3, 4, 5}
set2 = {0, 2, 4, 3, 5}
uni = set1.union(set2)
print(uni)
uni = set1 | set2  # symbal
print(uni)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}

In [16]:
# Set  'isdisjoint',
set1 = {1, 2, 3, 4, 5}
set2 = {0, 2, 4, 3, 5}
diss = set1.isdisjoint(set2)
print(diss)

set1 = {1, 2, 3, 4, 5}
set2 = {0, 6, 7}
diss = set1.isdisjoint(set2)
print(diss)

False
True

In [4]:
# Set  'intersection_update',
set1 = {1, 2, 3, 7, 9, 10}
set2 = {0, 2, 4, 3, 5}
int_up = set1.intersection_update(set2)
print(int_up)
print(set1)
print(set2)

None
{2, 3}
{0, 2, 3, 4, 5}

In [5]:
# Set  'intersection_update',
set1 = {1, 2, 3, 7, 9, 10}
set2 = {0, 2, 4, 3, 5}
int_up = set2.intersection_update(set1)
print(int_up)
print(set1)
print(set2)

None
{1, 2, 3, 7, 9, 10}
{2, 3}

In [6]:
# Set 'difference_update',
set1 = {1, 2, 3, 7, 9, 10}
set2 = {0, 2, 4, 3, 5}
int_up = set1.difference_update(set2)
print(int_up)
print(set1)
print(set2)

None
{1, 7, 9, 10}
{0, 2, 3, 4, 5}

In [8]:
#Set  'issubset',
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

# Returns True
print(A.issubset(B))

# Returns False
# B is not subset of A
print(B.issubset(A))

# Returns False
print(A.issubset(C))

# Returns True
print(C.issubset(B))

True
False
False
True

In [9]:
# Set  'issuperset',
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}

# Returns True
print(A.issuperset(B))

# Returns False
print(B.issuperset(A))

# Returns True
print(C.issuperset(B))

True
False
True

In [4]:
# Set __len__
set1 = {1, 2, 3, 7, 9, 10}
#set2 = {0, 2, 4, 3, 5}
set1.__len__()
#set2.__len__()

6

In [10]:
# Set __contains__
set1 = {1, 2, 3, 7, 9, 10}
set1.__contains__(0) # False
set1.__contains__(1)

True

In [15]:
# Set __repr__
set1 = {1, 2, 3, 7, 9, 10}
set1.__repr__()

'{1, 2, 3, 7, 9, 10}'

In [38]:
# Set __str__
set1 = {1, 2, 3, 7, 9, 10}
set1.__str__()

'{1, 2, 3, 7, 9, 10}'

In [39]:
# Set __sizeof__
set1 = {1, 2, 3, 7, 9, 10}
set1.__sizeof__()

456

#### List Overlap   

Take two lists, say for example these two:

	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
	b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

In [6]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
print(set(a[x] for x in range(len(a)) if a[x] in b))
# single line
print(list(set(a).intersection(set(b))))

{1, 2, 3, 5, 8, 13}
[1, 2, 3, 5, 8, 13]

#### List Comprehensions

Let’s say I give you a list saved in a variable: 

	a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]. 
    
Write one line of Python that takes this list a and makes a new list that has only the even elements of this list in it.

In [17]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
even_list = [num for num in a if num%2==0]
print(even_list)

[4, 16, 36, 64, 100]

#### List Overlap Comprehensions 

Take two lists, say for example these two:

	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
	b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes. Write this using at least one list comprehension. 

Extra:

Randomly generate two lists to test this

In [12]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
print(list(set(a).intersection(set(b))))

[1, 2, 3, 5, 8, 13]

#### List Ends Solutions

Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list. For practice, write this code inside a function.

In [11]:
a = [5, 10, 15, 20, 25]

def first_last(input_list):
    return [input_list[0], input_list[-1]]

print(first_last(a))

[5, 25]

In [78]:
a = [5, 10, 15, 20, 25]
first = a[0]
last = a[-1]
print(first, last)

5 25

#### List Remove Duplicates Solutions

Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Extras:

 - Write two different functions to do this - one using a loop and constructing a list, and another using sets.
 - Go back and do Exercise 5 using sets, and write the solution for that in a different function.

In [15]:
list1 = [1, 1, 1, 2, 2, 3, 4, 8, 9, 9, 10]

def unique(x):
    myset = set(x)
    return myset

print(unique(list1))

{1, 2, 3, 4, 8, 9, 10}